@{
    ViewBag.Title = "Message Sent";
}

<div class="container">
    <h1>Message Successfully Sent!</h1>
    <p>Thank you for reaching out. Your message has been successfully sent.</p>
    <img src="~/assets/img/success-image.jpg" alt="Success Image" />
</div>

