@{
    ViewData["Title"] = "Home";
}

<div class="container landing">
    <section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="bg bg-light">
          <h1>S.A.T</h1>
          <p>Scheduling Administration Tool</p>
        </div >
     
    <a href="/your-route"></a>
    </section>
</div>