@{
    ViewData["Title"] = "Home";
}

<div class="container landing">
    <section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <h1>S.A.T</h1>
    <p></p>
    <a href="/your-route"></a>
    </section>
</div>